
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/dmkmrNptMpw);">
  <div class="container">
    <h1>Your <strong>best cocktails</strong> brought <strong>to you</strong>!</h1>
    <p>Check the best cocktails or create your own.</p>
  </div>
</div>
